<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tức</title>
    <link rel="stylesheet" href="../css/btvn.css">
</head>

<body>


    <header class="header">
        <nav class="nav justify-between">
            <div class="menu-left">
                <img class="img" src="http://acatea.vn/Content/images/acatea-green.svg" alt="logo">
            </div>
            <div class="menu-right">
                <ul class="ul">
                    <li class="li1">
                        <a href="#">Trang chủ</a>
                    </li>
                    <li class="li">
                        <a href="#">Giới thiệu</a>
                    </li>
                    <li class="li">
                        <a href="#">Sản phẩm</a>
                    </li>
                    <li class="li li4">
                        <a href="#">Tin tức</a>
                    </li>
                    <li class="li">
                        <a href="#">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section>
        <div class="font-size text-center">
            TIN TỨC
        </div>
        <div class="d-flex justify-between">
            <div class="w-28 padding">
                <img class="w-100" src="http://acatea.vn/Content/uploads/news/16_%20Am%20tra%203%20coc.png" alt="">
                <p class="color font-weight font-size">
                    Cách sử dụng trà thảo dược mang lại hiệu quả tốt cho sức khỏe
                </p>
                <p>
                    Trà thảo dược được coi là một loại thực phẩm chức năng có tác dụng tốt cho sức khỏe. Tuy nhiên, để
                    có...
                </p>
            </div>
            <div class="w-28 padding">
                <img class="w-100" src="http://acatea.vn/Content/uploads/news/15_%20Coc%20tra%201(1).png" alt="">
                <p class="color font-weight font-size">
                    Trà thảo dược Acatea
                </p>
                <p>
                    Khát vọng nâng cao sức khỏe người Việt từ việc uống những tách trà dược liệu hàng ngày với hương vị
                    tự nhiên vốn...
                </p>
            </div>
            <div class="w-28 padding">
                <img class="w-100" src="http://acatea.vn/Content/uploads/news/14_%20Am%20tra%201%20coc.png " alt="">
                <p class="color font-weight font-size">
                    Văn hóa uống trà của người Việt
                </p>
                <p>
                    Văn hóa uống trà của người Việt là một phần không thể thiếu trong đời sống và văn hoá Việt Nam. Nó
                    không chỉ...
                </p>
            </div>
        </div>
        <div class="text-center">
            <a class="db" href="#" alt="page">1</a>
        </div>


    </section>
    <footer>
        <div class="d-flex justify-between">
            <div class="w-28">
                <img class="size" src="http://acatea.vn/Content/images/acatea-green.svg" alt="logo"> <br>
                <a href="tel">098098098 |  0980997087</a> <br>
                <a href="email">acatea.vn@acatea.vn</a> <br>
                <address>
                    189A, tổ 17, thị trấn Đông Anh, huyện Đông Anh, TP. Hà Nội
                </address>
            </div>
            <div>
                <h3>VỀ CHÚNG TÔI</h3> <br> <br>
                <a class="margin" href="#">Giới thiệu</a> <br> 
                <a lass="margin" href="#">Sản phẩm</a> <br> 
                <a lass="margin" href="#">Tin tức</a> <br>
            </div>
            <div>
                <h3>LIÊN HỆ</h3>
                <aside class="d-flex">
                    <span class="padding1">
                        <a href="https://www.facebook.com/deveduvn/" alt="fb">FB</a>
                    </span>
                    <span class="padding1"> 
                        <a href="https://www.youtube.com/channel/UCdxbwNblBlfU7kGqKjDDAIg" alt="yt">YT</a>
                    </span>
                    <span class="padding1">
                    <a href="acatea.vn@acatea.vn" alt="em">EM</a>
                    </span>
                </aside>
                Copyright © 2022-2023 <br>
                Acatea.vn - All rights reserved
            </div>
        </div>
    </footer>
</body>

</html>